@model Bookstoria.Models.Admins.AdminBooksViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href='@Url.Action("AddBook", "Admin")'>Add Book</a>

<a href='@Url.Action("DeleteBook", "Admin")'>Delete Book</a>

@foreach (var Book in Model.Books)
{
    
    <div>
        @Book.Title
        @Book.Author
        @Book.Price
        @Book.ISBN
        @if (Book.Image != null)
        {
           <img src="@Url.Content(System.Text.Encoding.Default.GetString(Book.Image))" width="100" height="100"/>
        }
        @Book.Category
        @Book.Discount
    </div>
}

